body{
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: hsl(0, 75%, 42%);
  margin:0;
  align-items: center;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container{

backdrop-filter: blur(5);

}

.clock{
  color: aliceblue;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px ;

}

.stopwatch{
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius:50px;
  background-color: white;
  padding:30px;
}

.display{
  font-size: 5rem;
  font-family:monospace;
  font-weight: bold;
  color:grey;
  text-shadow: black;
  margin-bottom: 25px;
}

.controls button{
  
}