body{
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: hsl(0, 0%, 8%);
  margin:0;
  align-items: center;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container{

backdrop-filter: blur(5);

}

.clock{
  color: aliceblue;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px ;

}